div.Tile {
  user-select: none;
  color: #336699;
  width: 100%;
  aspect-ratio: 1;
/*  border-width: 2px;
  border-style : solid;*/
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.Tile>p {
  font-size: 65px;
  padding: 0;
  margin: 0;
  aspect-ratio: 1;
}